<!-- Tabla principal de items guardados -->
<div class="overflow-auto m-4 md:m-0">
  @if (dataSource.data && dataSource.data.length > 0) {
  <table mat-table [dataSource]="dataSource">
    <!-- Code Column -->
    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef class="center-text">Código</th>
      <td mat-cell *matCellDef="let detail" class="center-text">
        {{ detail.product?.code || 'N/A' }}
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef class="center-text">Item</th>
      <td mat-cell *matCellDef="let detail">
        {{ detail.product?.name || 'N/A' }}
      </td>
    </ng-container>

    <!-- Start Date -->
    <ng-container matColumnDef="startDate">
      <th mat-header-cell *matHeaderCellDef class="center-text">
        Fecha Entrada
      </th>
      <td mat-cell *matCellDef="let detail" class="center-text">
        {{
          detail.startDate
            ? (detail.startDate | date : 'dd/MM/yyyy HH:mm')
            : 'N/A'
        }}
      </td>
    </ng-container>

    <!-- End Date -->
    <ng-container matColumnDef="endDate">
      <th mat-header-cell *matHeaderCellDef class="center-text">
        Fecha Salida
      </th>
      <td mat-cell *matCellDef="let detail" class="center-text">
        {{
          detail.endDate ? (detail.endDate | date : 'dd/MM/yyyy HH:mm') : 'N/A'
        }}
      </td>
    </ng-container>

    <!-- Amount -->
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef class="center-text">Und</th>
      <td mat-cell *matCellDef="let detail" class="center-text">
        {{ detail.amount }}
      </td>
    </ng-container>

    <!-- Price Without Tax -->
    <ng-container matColumnDef="priceWithoutTax">
      <th mat-header-cell *matHeaderCellDef class="center-text">
        P. sin impuesto
      </th>
      <td mat-cell *matCellDef="let detail" class="right-text">
        {{ detail.priceWithoutTax | formatCop }}
      </td>
    </ng-container>

    <!-- Price With Tax -->
    <ng-container matColumnDef="priceWithTax">
      <th mat-header-cell *matHeaderCellDef class="center-text">Impuesto</th>
      <td mat-cell *matCellDef="let detail" class="right-text">
        {{ +detail.priceWithTax - +detail.priceWithoutTax | formatCop }}
      </td>
    </ng-container>

    <!-- Subtotal -->
    <ng-container matColumnDef="subtotal">
      <th mat-header-cell *matHeaderCellDef class="center-text">Subtotal</th>
      <td mat-cell *matCellDef="let detail" class="right-text">
        {{ detail.subtotal | formatCop }}
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="center-text">Acciones</th>
      <td mat-cell *matCellDef="let detail" class="center-text">
        <button
          mat-icon-button
          color="warn"
          (click)="openDeleteItemDialog(detail.invoiceDetailId)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Header and Row -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [length]="paginationParams.total"
    [pageSize]="paginationParams.perPage"
    [pageSizeOptions]="[5, 10, 25, 100]"
    [pageIndex]="(paginationParams.page || 0) - 1"
    (page)="onChangePagination($event)"
  ></mat-paginator>
  } @else {

  <div class="text-center p-4 text-gray-500 text-sm">
    No hay ningún item aún
  </div>

  }
</div>
