<article class="flex flex-col h-full justify-center m-4 md:m-0">
  <div>
    <span class="text-lg md:text-xl font-extrabold">Resumen de Factura</span>
  </div>
  <div class="flex flex-col">
    @if (invoiceData.invoiceType.code === 'FC') {
    <span class="font-bold">Nombre del Proveedor</span>
    } @else {
    <span class="font-bold">Nombre del Cliente</span>
    }

    <div class="w-full rounded-lg border border-[#06a606] px-2 py-3">
      {{ invoiceData.user.firstName || '' }}
      {{ invoiceData.user.lastName || '' }}
    </div>
  </div>

  <div class="border border-[#06a606] w-full h-[1px] my-6"></div>
  <div class="flex content-between">
    <div class="flex justify-start w-[50%]">
      <span class="font-bold">Tipo de pago:</span>
    </div>
    <div class="flex justify-end w-[50%]">
      <span>{{ invoiceData.payType?.name || '' }} </span>
    </div>
  </div>
  <div class="flex content-between">
    <div class="flex justify-start w-[50%]">
      <span class="font-bold">Estado de pago:</span>
    </div>
    <div class="flex justify-end w-[50%]">
      <span
        class="font-medium"
        [ngClass]="{
          'text-green-600':
            invoiceData.paidType?.name === 'Pagado' ||
            invoiceData.paidType?.name === 'PAGADO' ||
            invoiceData.paidType?.name === 'RESERVADO - PAGADO' ||
            invoiceData.paidType?.name === 'Reservado - Pagado',
          'text-red-600':
            invoiceData.paidType?.name === 'PENDIENTE' ||
            invoiceData.paidType?.name === 'Pendiente' ||
            invoiceData.paidType?.name === 'RESERVADO - PENDIENTE' ||
            invoiceData.paidType?.name === 'Reservado - Pendiente'
        }"
        >{{ invoiceData.paidType?.name || '' }}
      </span>
    </div>
  </div>
  <div class="flex content-between">
    <div class="flex justify-start w-[50%]">
      <span class="font-bold">Factura #:</span>
    </div>
    <div class="flex justify-end w-[50%]">
      <span>{{ invoiceData.invoiceType.code || '' }}</span>
      <span> - </span>
      <span>{{ invoiceData.code || '' }}</span>
    </div>
  </div>
  <div class="flex content-between">
    <div class="flex justify-start w-[50%]">
      <span class="font-bold">Subtotal:</span>
    </div>
    <div class="flex justify-end w-[50%]">
      <span>{{ invoiceData.subtotalWithoutTax ?? 0 | formatCop }}</span>
    </div>
  </div>

  <div class="border border-[#06a606] w-full h-[1px] my-6"></div>

  <div class="flex content-between">
    <div class="flex justify-start w-[50%]">
      <span class="font-bold">Impuesto:</span>
    </div>
    <div class="flex justify-end w-[50%]">
      <span>
        {{ invoiceData.totalTaxes ?? 0 | formatCop }}
      </span>
    </div>
  </div>

  <div class="flex content-between">
    <div class="flex justify-start w-[50%]">
      <span class="font-bold">Total:</span>
    </div>
    <div class="flex justify-end w-[50%]">
      <span class="font-medium text-[#06a606]">{{
        invoiceData.total ?? 0 | formatCop
      }}</span>
    </div>
  </div>

  <!-- Efectivo -->
  @if (invoiceData.cash && invoiceData.cash > 0) {
  <div class="border border-[#06a606] w-full h-[1px] my-6"></div>

  <div class="flex content-between">
    <div class="flex justify-start w-[50%]">
      <span class="font-bold">Efectivo:</span>
    </div>
    <div class="flex justify-end w-[50%]">
      <span class="text-[#06a606] font-medium">
        {{ invoiceData.cash || '' | formatCop }}
      </span>
    </div>
  </div>
  }

  <!-- Transferencia -->
  @if (invoiceData.transfer && invoiceData.transfer > 0) {
  <div class="flex content-between">
    <div class="flex justify-start w-[50%]">
      <span class="font-bold">Transferencia:</span>
    </div>
    <div class="flex justify-end w-[50%]">
      <span class="text-[#06a606] font-medium">
        {{ invoiceData.transfer || '' | formatCop }}
      </span>
    </div>
  </div>
  }

  <div class="border border-[#06a606] w-full h-[1px] my-6"></div>

  <div class="flex flex-col">
    <div class="flex justify-start w-full">
      <span class="font-bold">Observaciones</span>
    </div>
    <div
      class="flex justify-start w-full p-1 border border-[#06a606] rounded-lg"
    >
      <span class="font-medium text-[#06a606]">{{
        invoiceData.observations || 'NO HAY OBSERVACIONES'
      }}</span>
    </div>
  </div>

  <div><span>Los precios incluyen impuestos</span></div>

  <section class="flex flex-col gap-y-2">
    <div class="flex">
      <button
        mat-fab
        extended="true"
        class="!w-full !rounded-lg"
        (click)="onEdit()"
      >
        Editar factura
      </button>
    </div>
    <div class="hidden md:flex">
      <button
        class="!w-full !rounded-lg"
        mat-stroked-button
        extended="true"
        (click)="onDownload()"
      >
        Descargar PDF
      </button>
    </div>
    <div class="flex md:hidden">
      <button
        class="!w-full !rounded-lg"
        mat-fab
        extended="true"
        (click)="onDownload()"
      >
        Descargar PDF
      </button>
    </div>
  </section>
</article>
