<app-section-header
  [title]="'Gestionar productos'"
  [subtitle]="'Gestiona los productos registrados en tu negocio'"
></app-section-header>

@if (!isMobile) {
<app-search-fields
  [searchFields]="searchFieldsProducts"
  [form]="form"
  [debounceTime]="300"
  (searchSubmit)="onSearchSubmit($event)"
  (searchChange)="onSearchChange($event)"
></app-search-fields>

<section class="flex w-full justify-end items-center gap-2">
  <div class="w-[24%]">
    <button
      class="!w-full"
      mat-fab
      extended="true"
      color="warn"
      (click)="searchComponent.reset()"
      [disabled]="!showClearButton"
    >
      Limpiar filtros
    </button>
  </div>
  <div class="w-[24%]">
    <button
      class="!w-full"
      mat-stroked-button
      extended="true"
      color="primary"
      (click)="printProducts()"
    >
      Imprimir productos
    </button>
  </div>
</section>

<div class="mt-4">
  <div class="overflow-auto mb-3">
    @if (loading) {
    <app-loader></app-loader>
    } @else if (dataSource.data.length > 0) {
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="categoryType">
        <th mat-header-cell *matHeaderCellDef class="center-text">Categoría</th>
        <td mat-cell *matCellDef="let product">
          {{ product?.categoryType?.name || 'Sin categoría' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef class="center-text">Código</th>
        <td mat-cell *matCellDef="let product" class="center-text">
          {{ product.code }}
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef class="center-text">Nombre</th>
        <td mat-cell *matCellDef="let product">
          {{ product.name }}
        </td>
      </ng-container>

      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef class="center-text">Unidades</th>
        <td mat-cell *matCellDef="let product" class="center-text font-bold">
          <span
            [ngClass]="{
              'text-red-600 font-bold': (+product.amount || 0) < 5,
              'text-yellow-600 font-bold':
                (+product.amount || 0) >= 5 && (+product.amount || 0) < 10,
              'text-green-600 font-bold': (+product.amount || 0) >= 10
            }"
          >
            {{ product.amount }}
          </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="isActive">
        <th mat-header-cell *matHeaderCellDef class="center-text">Estado</th>
        <td
          mat-cell
          *matCellDef="let product"
          class="center-text"
          [ngClass]="
            product.isActive
              ? 'text-green-700 font-bold'
              : 'text-red-700 font-bold'
          "
        >
          {{ product.isActive ? 'Activo' : 'Inactivo' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="priceBuy">
        <th mat-header-cell *matHeaderCellDef class="center-text">
          Precio de compra
        </th>
        <td
          mat-cell
          *matCellDef="let product"
          class="right-text text-red-700 font-bold"
        >
          {{ product.priceBuy | formatCop }}
        </td>
      </ng-container>

      <ng-container matColumnDef="priceSale">
        <th mat-header-cell *matHeaderCellDef class="center-text">
          Precio de venta
        </th>
        <td
          mat-cell
          *matCellDef="let product"
          class="right-text text-green-700 font-bold"
        >
          {{ product.priceSale | formatCop }}
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="center-text">Acciones</th>
        <td mat-cell *matCellDef="let product" class="center-text">
          <button
            mat-icon-button
            color="primary"
            [routerLink]="['/service-and-product/general']"
            [queryParams]="{ editProduct: product.id }"
            (click)="productSelected.emit(product)"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-icon-button
            color="warn"
            (click)="openDeleteProductDialog(product.id)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator
      [length]="paginationParams.total"
      [pageSize]="paginationParams.perPage"
      [pageSizeOptions]="[5, 10, 25, 100]"
      [pageIndex]="(paginationParams.page || 0) - 1"
      (page)="onChangePagination($event)"
    ></mat-paginator>
    } @else {
    <div class="w-full justify-center items-center flex">
      <p>No se encontraron productos</p>
    </div>
    }
  </div>
</div>
} @else {
<mat-tab-group
  [(selectedIndex)]="selectedTabIndex"
  (selectedIndexChange)="onTabChange($event)"
>
  <mat-tab [label]="'Búsqueda'" class="h-full">
    <div class="mt-3 px-2">
      <app-search-fields
        [searchFields]="searchFieldsProducts"
        [debounceTime]="0"
        (searchSubmit)="onSearchSubmit($event)"
        (searchChange)="onSearchChange($event)"
      >
      </app-search-fields>
    </div>
    <section class="flex flex-col w-full gap-2">
      <div class="w-full">
        <button
          class="!w-full"
          mat-fab
          extended="true"
          color="warn"
          (click)="searchComponent.reset()"
          [disabled]="!showClearButton"
        >
          Limpiar filtros
        </button>
      </div>

      <div class="w-full">
        <button
          class="!w-full"
          mat-fab
          extended="true"
          (click)="searchComponent.submitSearch(); selectedTabIndex = 1"
        >
          Buscar
        </button>
      </div>
    </section>
  </mat-tab>
  <mat-tab [label]="'Resultados'">
    <div class="mat-elevation-z8">
      <app-loader *ngIf="loading"></app-loader>
      <div
        *ngIf="!loading && dataSource.data.length > 0"
        class="overflow-auto mb-3"
      >
        <table mat-table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="categoryType">
            <th mat-header-cell *matHeaderCellDef class="center-text">Rol</th>
            <td mat-cell *matCellDef="let product">
              {{ product?.categoryType?.name || 'Sin categoría' }}
            </td>
          </ng-container>

          <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef class="center-text">
              Código
            </th>
            <td mat-cell *matCellDef="let product">
              {{ product.code }}
            </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef class="center-text">
              Nombre
            </th>
            <td mat-cell *matCellDef="let product">
              {{ product.name }}
            </td>
          </ng-container>

          <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef class="center-text">
              Unidades
            </th>
            <td
              mat-cell
              *matCellDef="let product"
              class="center-text font-bold"
            >
              <span
                [ngClass]="{
                  'text-red-600 font-bold': (+product.amount || 0) < 5,
                  'text-yellow-600 font-bold':
                    (+product.amount || 0) >= 5 && (+product.amount || 0) < 10,
                  'text-green-600 font-bold': (+product.amount || 0) >= 10
                }"
              >
                {{ product.amount }}
              </span>
            </td>
          </ng-container>

          <ng-container matColumnDef="isActive">
            <th mat-header-cell *matHeaderCellDef class="center-text">
              Estado
            </th>
            <td
              mat-cell
              *matCellDef="let product"
              class="center-text"
              [ngClass]="
                product.isActive
                  ? 'text-green-700 font-bold'
                  : 'text-red-700 font-bold'
              "
            >
              {{ product.isActive ? 'Activo' : 'Inactivo' }}
            </td>
          </ng-container>

          <ng-container matColumnDef="priceBuy">
            <th mat-header-cell *matHeaderCellDef class="center-text">
              Precio de compra
            </th>
            <td
              mat-cell
              *matCellDef="let product"
              class="right-text text-red-700 font-bold"
            >
              {{ product.priceBuy | formatCop }}
            </td>
          </ng-container>

          <ng-container matColumnDef="priceSale">
            <th mat-header-cell *matHeaderCellDef class="center-text">
              Precio de venta
            </th>
            <td
              mat-cell
              *matCellDef="let product"
              class="right-text text-green-700 font-bold"
            >
              {{ product.priceSale | formatCop }}
            </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef class="center-text">
              Acciones
            </th>
            <td mat-cell *matCellDef="let product" class="center-text">
              <button
                mat-icon-button
                color="primary"
                [routerLink]="['/service-and-product/general']"
                [queryParams]="{ editProduct: product.id }"
                (click)="productSelected.emit(product)"
              >
                <mat-icon>edit</mat-icon>
              </button>
              <button
                mat-icon-button
                color="warn"
                (click)="openDeleteProductDialog(product.id)"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
      <div *ngIf="!loading && dataSource.data.length === 0" class="text-center">
        <p>No se encontraron productos</p>
      </div>
      <mat-paginator
        [length]="paginationParams.total"
        [pageSize]="paginationParams.perPage"
        [pageSizeOptions]="[5, 10, 25, 100]"
        [pageIndex]="(paginationParams.page || 0) - 1"
        (page)="onChangePagination($event)"
      ></mat-paginator>
    </div>
  </mat-tab>
</mat-tab-group>
}
<app-products-print
  style="position: absolute; top: -9999px; left: -9999px"
  [products]="allProducts"
  #productsPrint
></app-products-print>
