<app-section-header
  [title]="'Gestionar servicios'"
  [subtitle]="'Gestiona los servicios registrados en tu negocio'"
></app-section-header>
@if (!isMobile) {
<app-search-fields
  [searchFields]="searchFieldsServices"
  [form]="form"
  [debounceTime]="300"
  (searchSubmit)="onSearchSubmit($event)"
  (searchChange)="onSearchChange($event)"
></app-search-fields>

<section class="flex w-full justify-end items-center gap-2">
  <div class="w-[24%]">
    <button
      class="!w-full"
      mat-fab
      extended="true"
      color="warn"
      (click)="searchComponent.reset()"
      [disabled]="!showClearButton"
    >
      Limpiar filtros
    </button>
  </div>
</section>

<div class="mt-4">
  <div class="overflow-auto mb-3">
    @if (loading) {
    <app-loader></app-loader>
    } @else if (dataSource.data.length > 0) {
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="categoryType">
        <th mat-header-cell *matHeaderCellDef class="center-text">Categoría</th>
        <td mat-cell *matCellDef="let service">
          {{ service?.categoryType?.name || 'Sin categoría' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="stateType">
        <th mat-header-cell *matHeaderCellDef class="center-text">Estado</th>
        <td
          mat-cell
          class="font-bold"
          *matCellDef="let service"
          [ngClass]="{
            'text-yellow-700  ':
              service?.stateType?.name === 'Mantenimiento' ||
              service?.stateType?.name === 'MANTENIMIENTO',
            'text-green-700  ':
              service?.stateType?.name === 'Disponible' ||
              service?.stateType?.name === 'DISPONIBLE',
            'text-blue-700  ':
              service?.stateType?.name === 'Ocupado' ||
              service?.stateType?.name === 'OCUPADO',
            'text-red-700  ':
              service?.stateType?.name === 'Fuera de Servicio' ||
              service?.stateType?.name === 'FUERA DE SERVICIO',
            'text-purple-700  ':
              service?.stateType?.name === 'Reservado' ||
              service?.stateType?.name === 'RESERVADO'
          }"
        >
          {{ service?.stateType?.name || 'Sin estado' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef class="center-text">Código</th>
        <td mat-cell *matCellDef="let service" class="center-text">
          {{ service.code }}
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef class="center-text">Nombre</th>
        <td mat-cell *matCellDef="let service">
          {{ service.name }}
        </td>
      </ng-container>

      <ng-container matColumnDef="priceBuy">
        <th mat-header-cell *matHeaderCellDef class="center-text">P. Compra</th>
        <td
          mat-cell
          *matCellDef="let service"
          class="right-text text-red-700 font-bold"
        >
          {{ service.priceBuy | formatCop }}
        </td>
      </ng-container>

      <ng-container matColumnDef="priceSale">
        <th mat-header-cell *matHeaderCellDef class="center-text">P. Venta</th>
        <td
          mat-cell
          *matCellDef="let service"
          class="right-text text-green-700 font-bold"
        >
          {{ service.priceSale | formatCop }}
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="center-text">Acciones</th>
        <td mat-cell *matCellDef="let service" class="center-text">
          <button
            mat-icon-button
            color="primary"
            [routerLink]="['/service-and-product/general']"
            [queryParams]="{ editService: service.id }"
            (click)="serviceSelect.emit(service)"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-icon-button
            color="warn"
            (click)="openDeleteServiceDialog(service.id)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      [length]="paginationParams.total"
      [pageSize]="paginationParams.perPage"
      [pageSizeOptions]="[5, 10, 25, 100]"
      [pageIndex]="(paginationParams.page || 0) - 1"
      (page)="onChangePagination($event)"
    ></mat-paginator>
    } @else {
    <div class="w-full justify-center items-center flex">
      <p>No se encontraron servicios</p>
    </div>
    }
  </div>
</div>
} @else {
<mat-tab-group
  [(selectedIndex)]="selectedTabIndex"
  (selectedIndexChange)="onTabChange($event)"
>
  <mat-tab [label]="'Búsqueda'" class="h-full">
    <div class="mt-3 px-2">
      <app-search-fields
        [searchFields]="searchFieldsServices"
        [debounceTime]="0"
        (searchSubmit)="onSearchSubmit($event)"
        (searchChange)="onSearchChange($event)"
      >
      </app-search-fields>
    </div>
    <section class="flex flex-col w-full gap-2">
      <div class="w-full">
        <button
          class="!w-full"
          mat-fab
          extended="true"
          color="warn"
          (click)="searchComponent.reset()"
          [disabled]="!showClearButton"
        >
          Limpiar filtros
        </button>
      </div>

      <div class="w-full">
        <button
          class="!w-full"
          mat-fab
          extended="true"
          (click)="searchComponent.submitSearch(); selectedTabIndex = 1"
        >
          Buscar
        </button>
      </div>
    </section>
  </mat-tab>
  <mat-tab [label]="'Resultados'">
    <div class="mat-elevation-z8">
      <app-loader *ngIf="loading"></app-loader>
      <div
        *ngIf="!loading && dataSource.data.length > 0"
        class="overflow-auto mb-3"
      >
        <table mat-table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="categoryType">
            <th mat-header-cell *matHeaderCellDef class="center-text">
              Categoría
            </th>
            <td mat-cell *matCellDef="let service">
              {{ service?.categoryType?.name || 'Sin categoría' }}
            </td>
          </ng-container>

          <ng-container matColumnDef="stateType">
            <th mat-header-cell *matHeaderCellDef class="center-text">
              Estado
            </th>
            <td
              mat-cell
              *matCellDef="let service"
              class="font-bold"
              [ngClass]="{
                'text-yellow-700 ':
                  service?.stateType?.name === 'Mantenimiento' ||
                  service?.stateType?.name === 'MANTENIMIENTO',
                'text-green-700  ':
                  service?.stateType?.name === 'Disponible' ||
                  service?.stateType?.name === 'DISPONIBLE',
                'text-blue-700  ':
                  service?.stateType?.name === 'Ocupado' ||
                  service?.stateType?.name === 'OCUPADO',
                'text-red-700 ':
                  service?.stateType?.name === 'Fuera de Servicio' ||
                  service?.stateType?.name === 'FUERA DE SERVICIO',
                'text-purple-700  ':
                  service?.stateType?.name === 'Reservado' ||
                  service?.stateType?.name === 'RESERVADO'
              }"
            >
              {{ service?.stateType?.name || 'Sin estado' }}
            </td>
          </ng-container>

          <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef class="center-text">
              Código
            </th>
            <td mat-cell *matCellDef="let service" class="center-text">
              {{ service.code }}
            </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef class="center-text">
              Nombre
            </th>
            <td mat-cell *matCellDef="let service">
              {{ service.name }}
            </td>
          </ng-container>

          <ng-container matColumnDef="priceBuy">
            <th mat-header-cell *matHeaderCellDef class="center-text">
              P. Compra
            </th>
            <td
              mat-cell
              *matCellDef="let service"
              class="right-text text-red-700 font-bold"
            >
              {{ service.priceBuy | formatCop }}
            </td>
          </ng-container>

          <ng-container matColumnDef="priceSale">
            <th mat-header-cell *matHeaderCellDef class="center-text">
              P. Venta
            </th>
            <td
              mat-cell
              *matCellDef="let service"
              class="right-text text-green-700 font-bold"
            >
              {{ service.priceSale | formatCop }}
            </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef class="center-text">
              Acciones
            </th>
            <td mat-cell *matCellDef="let service" class="center-text">
              <button
                mat-icon-button
                color="primary"
                [routerLink]="['/service-and-product/general']"
                [queryParams]="{
                  editService: service.id
                }"
                (click)="serviceSelect.emit(service)"
              >
                <mat-icon>edit</mat-icon>
              </button>
              <button
                mat-icon-button
                color="warn"
                (click)="openDeleteServiceDialog(service.id)"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
      <div *ngIf="!loading && dataSource.data.length === 0" class="text-center">
        <p>No se encontraron servicios</p>
      </div>
      <mat-paginator
        [length]="paginationParams.total"
        [pageSize]="paginationParams.perPage"
        [pageSizeOptions]="[5, 10, 25, 100]"
        [pageIndex]="(paginationParams.page || 0) - 1"
        (page)="onChangePagination($event)"
      ></mat-paginator>
    </div>
  </mat-tab>
</mat-tab-group>
}
